@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<h1>My Ranking Services Web Api 테스트 페이지</h1>
<div>
    <div class="a" id="ass">
        <ul>
            <li class="api"><a src="andi0409.dothome.co.kr">Homepage</a></li>
        </ul>
    </div>
</div>